doctype html

mixin fa(type, text)
	span(class='fa fa-'+type)
	if text
		| 	
		= text

mixin faLink(faType, href, text)
	a(href=href)
		+fa(faType, text)
		
mixin faButtonSmall(faType, href, text)
	a.btn.btn-default.btn-xs(href=href)
		+fa(faType, text)
		
mixin faButtonDefault(faType, href, text)
	a.btn.btn-default(href=href)
		+fa(faType, text)
		
mixin faButtonPrimary(faType, href, text)
	a.btn.btn-primary(href=href)
		+fa(faType, text)
		
mixin buttonPrimary(href, text)
	a.btn.btn-primary(href=href)= text
	
mixin faButtonSubmit(faType, text)
	button.btn.btn-warning(type='submit')
		+fa(faType, text)

mixin buttonSubmit(text)
	button.btn.btn-warning(type='submit')= text	

mixin inputRequired(type, id, text, value)
	.form-group
		label= text
		input.form-control(type=type, name=id, id=id, required, value=value)

mixin input(type, id, text, value)
	.form-group
		label= text
		input.form-control(type=type, name=id, id=id, value=value)

mixin inputWithPlaceholder(type, id, text, value)
	.form-group
		input.form-control(type=type, name=id, id=id, value=value, placeholder=text)

mixin check(id, text, value)
	.checkbox
		label
			if value
				input(type='checkbox', name=id, id=id, checked='checked')
			else
				input(type='checkbox', name=id, id=id)
			= text


html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")		
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
		script(src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		block headScript
	body
	.container
		block content
