doctype html

mixin fa(type, text)
	span(class='fa fa-'+type)
	if text
		| 	
		= text

mixin faButtonSmall(faType, href, text)
	a.btn.btn-default.btn-xs(href=href)
		+fa(faType, text)
		
mixin faButtonDefault(faType, href, text)
	a.btn.btn-default(href=href)
		+fa(faType, text)
		
mixin faButtonPrimary(faType, href, text)
	a.btn.btn-primary(href=href)
		+fa(faType, text)
		
mixin buttonPrimary(href, text)
	a.btn.btn-primary(href=href)= text
	
mixin faButtonSubmit(faType, text)
	button.btn.btn-warning(type='submit')
		+fa(faType, text)

mixin buttonSubmit(text)
	button.btn.btn-warning(type='submit')= text	

mixin inputRequired(type, id, text, value)
	.form-group
		label= text
		input.form-control(type=type, name=id, id=id, required, value=value)

mixin input(type, id, text, value)
	.form-group
		label= text
		input.form-control(type=type, name=id, id=id, value=value)

mixin inputWithPlaceholder(type, id, text, value)
	.form-group
		input.form-control(type=type, name=id, id=id, value=value, placeholder=text)


html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
		script(src='https://code.jquery.com/jquery-2.1.0.min.js')
		block headScript
	body
	.container
		block content
